@model FastFood.Web.ViewModels.ErrorViewModel

@{  
    ViewBag.Title = "Error";  
}  
  
<div style="background-color: #A52A2A; color: Black; height: 10px;">  
</div>  
<div style="background-color: #F5F5DC; color: Black; height: 170px;">  
    <div style=" padding:20px;">  
        <h2>  
            Application Error:</h2>  
        <h3>  
            Invalid Input.  
        </h3>  
        <h4>@Html.ActionLink("Go back to Home Page", "Index", "Home")</h4>  
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div>  